<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!-- Vue.JS - 3 - CDN -->
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <title>Young Grasshopper - Tutorial 1</title>
  </head>
  <body>
   <h1>Young Grasshopper</h1>
<hr>
<!-- Mounting the Vue App - The Vue app only works within the div with an id of app -->
    <div id="app">





        <div v-if="true"> 
        <h3>{{ name }} {{ sentence }} {{ age }}</h3>
        </div>

        <div v-if="false"> 
        <h3>You will not see this sentence if the conditional value is set to false</h3>
        </div>
        <div v-if="showSentence">
            <h3>This sentence is displayed using the data property that is set to true.</h3>
        </div>
        <button @click="toggleShowSentence">
            <span v-if="showSentence">Hide Sentence</span>
            <span v-else>Show Sentence</span>
        </button>
        <br>
        <!-- <div v-show="showSentence">currently showing the sentence</div> -->

        <div class="box" @mouseover="handleEvent">mouseover (testing event object with an argument)</div>
        <div class="box" @mouseleave="handleEvent">mouseleave</div>
        <div class="box" @dblclick="handleEvent">double click</div>
        <div class="box"></div>





      <!-- <h2>My first template</h2> 


     
     
      <button v-on:click="age++">Increase age</button>
      &nbsp;
     
      <button v-on:click="age--">Decrease age</button>
      <br><br>

      <div @click="name = 'Princess'">Change Nathalie's name to Princess by clicking this sentence.
      <br><br>
    

      <div @click="changeName">Change Nathalie's name to Heraldine by clicking this sentence.</div>
      <br><br>

      <div @click="changeSentence('is turning')">Change the sentence by clicking this sentence.</div>
      <br>
      <hr>







      </div>

 -->


    </div>

    



<script src="app.js"></script>
  </body>
</html>
